
.interrupt-panel {
    padding: 30px;
    background: #005ea5;
    color: #fff !important;
    overflow: hidden;
    width: auto;
}

.interrupt-panel h1, .interrupt-panel p, .interrupt-panel h2, .interrupt-panel ul {
    color: #fff !important;
}
