
js-enabled .panel-component__content {
    background-color: #f3f2f1;
    overflow: hidden;
}

.filters-component {
    background-color: #f3f2f1;
    padding: 15px;
}

.filters-component__groups {
    padding: 5px 0;
}

.filters-component__groups .govuk-form-group {
    margin-bottom: 10px;
}

.filters-component__groups__group {
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 25px;
}

.searchable-collection-component {
    margin-bottom: 20px;

    .govuk-form-group {
        margin-bottom: 0;
    }
}

#filters {
    @include govuk-media-query($from: tablet) {
        display: block !important;
    }
}

// Filters

.border-bottom {
    border-bottom: 1px solid #b1b4b6
}

.govuk-checkboxes__label::before,
.govuk-radios__label::before {
    background-color: #ffffff;
}

.filters-component {
    padding: 0;
}

.no-border {
    border: none;
}

//todo: categories filter has border at the bottom of the scroll region, rather than static

.app-filter-group {
    border-bottom: 1px solid $govuk-border-colour;
    @include govuk-responsive-padding(5, "bottom");

    .govuk-checkboxes__label::before, .govuk-radios__label::before {
        background-color: govuk-colour("white");
    }

    &:last-child {
        border-bottom: none;
    }
}

/*todo: important not nice*/
.app-sub-filters {
    @include govuk-responsive-margin(4, "bottom", $important: true);
}

.app-sub-filters-scrollable {
    margin-left: govuk-spacing(-2);
    padding-left: govuk-spacing(2);
    max-height: 400px;
    overflow-y: auto;
}
