@page
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.ConfirmReferralModel
@{
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You have successfully requested support
      </h1>
    </div>

    <p class="govuk-body">We have emailed you a copy of this request.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        Someone from the service will contact the person or family once they have received your request.
      </p>

    <p><a href="../search">Find support from local services</a></p>

</main>
