@page
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.ConfirmReferralModel
@{
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You have successfully requested support
      </h1>
    </div>

    <p class="govuk-body">We have emailed you a copy of this request.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        Someone from the service will contact the person or family once they have received your request.
      </p>

    <p><a href="../search">Find support from local services</a></p>
    <br />

    @if(User.IsInRole("Professional"))
    {
     <a asp-page="/ProfessionalReferral/ProfessionalHomepage" class="govuk-button govuk-button--start" data-testid="button-professional-homepage">
        Go to Home Page
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
    </a>
    }

    

</main>
