@page
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.ConsentShutterModel
@{
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              You cannot continue without consent to request support
            </h1>
          </legend>
          <p>You need consent from the person or family to request support on their behalf.</p>
        </fieldset>
      </div>
      <a asp-page="/Index" class="govuk-button">Return to Start</a>
</main>
