@page
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.Contactus
@{
}
<a asp-page="/" class="govuk-back-link" onclick="history.back(); return false;">Back</a>

<main class="govuk-main-wrapper custom-main" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-2">Contact us</h1>

            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Email</h3>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="mailto:connect-support-for-your-family.service@education.gov.uk">connect-support-for-your-family.service@education.gov.uk</a></li>
                <li>We aim to respond within 5 working days.</li>
            </ul>
        </div>
    </div>
</main>