@page
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.CookiesModel
@{
    ViewData["Title"] = "Cookies";
    ViewData["Description"] = "Description TBC";
}
<a href="/" class="govuk-back-link" onclick="history.back(); return false;">Back</a>

<main class="govuk-main-wrapper custom-main" id="main-content" role="main">
    <div class="full-BGstrip">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div id="cookies-saved-notification" data-testid="cookies-saved-notification" class="govuk-notification-banner govuk-notification-banner--success govuk-hidden" role="alert"
                     aria-labelledby="govuk-notification-banner-title"
                     data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Success
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
                            You’ve set your cookie preferences. <a class="govuk-notification-banner__link" href="/" onclick="history.back();>Go back to the page you were looking at</a>.
                        </p>
                    </div>
                </div>

                <h1 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-2">Cookies</h1>

                <p>
                    This service puts small files (known as 'cookies') onto your computer. These cookies are used to:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>help us understand how you use the website, so we can make improvements</li>
                    <li>remember what notifications you've seen, so you're not shown them more than once</li>
                    <li>temporarily store the selections you make</li>
                </ul>

                <p>Find out more about <a href="https://ico.org.uk/your-data-matters/online/cookies/">how to manage cookies</a>.</p>

                <h2 class="govuk-heading-m">Essential cookies (strictly necessary)</h2>

                <p>
                    We use an essential cookie to remember when you accept or reject cookies on our website.
                </p>

                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--s">Essential cookies we use</caption>

                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Purpose</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Expires</th>
                        </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">service_directory_cookies_policy</td>
                            <td class="govuk-table__cell">Saves your cookie consent settings</td>
                            <td class="govuk-table__cell">1 year</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">ai_user</td>
                            <td class="govuk-table__cell">
                                Used by Microsoft Application Insights software to collect statistical usage and telemetry information.
                                The cookie stores a unique identifier to recognise users on returning visits over time
                            </td>
                            <td class="govuk-table__cell">1 month</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">.AspNetCore.Antiforgery.[random number]</td>
                            <td class="govuk-table__cell">Used to make the site more secure by preventing Cross-Site Request Forgery attacks</td>
                            <td class="govuk-table__cell">With the session</td>
                        </tr>
                    </tbody>
                </table>


                <h2 class="govuk-heading-m">Analytics cookies (optional)</h2>

                <p>
                    We use Google Analytics software (Universal Analytics) to collect anonymised information
                    about how you use the service. We do this to help make sure the service is meeting
                    the needs of its users and to help us make improvements.
                </p>

                <p>
                    We do not allow Google to use or share the data about how you use this service.
                </p>

                <p>
                    Google Analytics stores information about:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>how you got to the service</li>
                    <li>the pages you visit on this service and how long you spend on them</li>
                    <li>what you click on while you're visiting the service</li>
                </ul>

                <p>
                    We may also set our own cookies to understand how people move through the service.
                </p>


                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--s">Analytics cookies we use</caption>

                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Purpose</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Expires</th>
                        </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">_ga</td>
                            <td class="govuk-table__cell">Used by Google Analytics to distinguish users</td>
                            <td class="govuk-table__cell">2 years</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">_ga_[random number]</td>
                            <td class="govuk-table__cell">Used by Google Analytics to persist session state</td>
                            <td class="govuk-table__cell">2 years</td>
                        </tr>
                    </tbody>
                </table>

                <h2 class="govuk-heading-m">Change your cookie settings</h2>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h3 class="govuk-fieldset__heading">
                                Do you want to accept analytics cookies?
                            </h3>
                        </legend>

                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="cookies-page-accepted" name="reject-cookies-option" type="radio" value="Yes" data-testid="cookies-accepted-option">
                                <label class="govuk-label govuk-radios__label" for="cookies-page-accepted">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="cookies-page-rejected" name="reject-cookies-option" type="radio" value="No" data-testid="cookies-rejected-option">
                                <label class="govuk-label govuk-radios__label" for="cookies-page-rejected">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button id="cookies-page-save" class="govuk-button" data-module="govuk-button" data-testid="save-cookies">
                    Save cookie settings
                </button>
            </div>
        </div>
    </div>
</main>