@page
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.FamilyContactModel
@{
}

<a asp-page="/ProfessionalReferral/Consent" asp-route-id="@Model.Id" asp-route-name="@Model.Name" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" novalidate data-validate='my-form-validation'>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Who should the service contact in the family?
            </h1>
          </legend>
            @{
                if (Model.ValidationValid == false)
                {
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> You must enter the persons full name
                    </p>
                }
            }
          <div class="govuk-form-group">
            <label class="govuk-label" for="full-name">
             Full name
            </label>
            <input class="govuk-input @(Model.ValidationValid == false ? "govuk-input--error" : "")" type="text" spellcheck="false" autocomplete="FullName" id="FullName" name="FullName" value="@Model.FullName" asp-for="FullName" maxlength="255">
          </div>
        </fieldset>
      </div>
      <button class="govuk-button">
        Continue
      </button>
    </form>
    <script type="application/json" id="my-form-validation">

      {
        "FullName": {
          "presence": {
            "message": "^Enter a full name"
          }
        }
      }
    </script>
  </div>


</div>
</main>
