@page
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.PersonalDetailsModel
@{
}

<main class="govuk-main-wrapper " id="main-content" role="main">
     <form method="post">

      <input asp-for="@Model.Id" type="hidden" >
      <input asp-for="@Model.Name" type="hidden">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Personal details
            </h1>
          </legend>
          <p>If you are requesting support for a child or a family, enter details of a parent or carer.</p>
          <div class="govuk-form-group">
            <label class="govuk-label" for="FullName">
              Full name
            </label>
            <input class="govuk-input" type="text" spellcheck="false" autocomplete="FullName" id="FullName" name="FullName" value="@Model.FullName" asp-for="FullName">
          </div>
        </fieldset>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            Does the person have any special educational needs, disabilities or health conditions?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="send" name="HasSpecialNeeds" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="send">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="send-2" name="HasSpecialNeeds" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="send-2">
                No
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="send-3" name="HasSpecialNeeds" type="radio" value="Not sure">
              <label class="govuk-label govuk-radios__label" for="send-3">
                Not sure
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>
</main>