@page
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.PersonRequestingSupportModel
@{
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <form method="post">
      <div class="govuk-form-group">
          <div class="govuk-form-group @(Model.ValidationValid == false ? "govuk-form-group--error" : "")">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Are you?
                </h1>
              </legend>
              @{
                    if (Model.ValidationValid == false)
                    {
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> You must select one of the options
                        </p>
                    }
                }
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="none-professional" name="IsTypeOfPerson" type="radio" value="none-professional">
                  <label class="govuk-label govuk-radios__label" for="none-professional">
                    Family member or carrer
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="professional" name="IsTypeOfPerson" type="radio" value="professional">
                  <label class="govuk-label govuk-radios__label" for="professional">
                    Professional
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="vcsadmin" name="IsTypeOfPerson" type="radio" value="vcsadmin">
                  <label class="govuk-label govuk-radios__label" for="vcsadmin">
                    VCS Service Admin
                  </label>
                </div>
              </div>

            </fieldset>
        </div>  
    </div>
      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>

</main>