@page
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.ProfessionalHomepageModel
@{
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <h1 class="govuk-heading-xl">Referrals</h1>

     <div class="cards">
        <div class="card">
            <h2 class="govuk-heading-m"><a asp-page="/ProfessionalReferral/Search">Find a service</a></h2>
            <p class="govuk-body-s">Find a service from the directory.</p>
        </div>
            <div class="card">
                <h2 class="govuk-heading-m"><a asp-page="/ProfessionalReferral/ReferralDashboard">Dashboard</a></h2>
                <p class="govuk-body-s">View referrals.</p>
            </div>
        </div>

</main>