@page
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.SafeguardingShutterModel
@{
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <h1 class="govuk-fieldset__heading-l">
              You cannot use this service
            </h1>
          <p>You cannot use this service if you believe the child is being harmed or is in immediate danger. Call the police on 999 instead.</p>
        </fieldset>
      </div>
      <a asp-page="/Index" class="govuk-button">Return to Start</a>
</main>
