@page
@model FamilyHubs.ReferralUi.Ui.Pages.ProfessionalReferral.SearchModel
@{
}

<a href="/" class="govuk-back-link" data-testid="back-button">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
           @if (!Model.ValidationValid || !Model.PostcodeValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list" data-testid="errorslist">
                            @if (Model.PostcodeValid == false)
                            {
                                <li>
                                    <a href="#Postcode">You need to enter a postcode, like AA1 1AA</a>
                                </li>
                            }

                            @if (Model.ValidationValid == false)
                            {
                                <li>
                                    <a href="#Postcode">You need to enter a valid postcode, like AA1 1AA</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
            <div class="govuk-form-group @(Model.PostcodeValid  == false|| Model.ValidationValid  == false? "govuk-form-group--error" : "")">
    <h1 class="govuk-heading-l">Search for services by postcode</h1>
    <p class="govuk-details">
        We will use the postcode you enter to find services in that local authority area. The postcode must be in England.
    </p>
     @{
        if (Model.PostcodeValid == false)
        {
            <p class="govuk-error-message" data-testid="empty-error">
                <span class="govuk-visually-hidden">Error:</span> You need to enter a postcode, like AA1 1AA
            </p>
        }
    }
     @{
        if (Model.ValidationValid == false)
        {
            <p class="govuk-error-message" data-testid="invalid-error">
                <span class="govuk-visually-hidden">Error:</span> You need to enter a valid postcode, like AA1 1AA
            </p>
        }
    }
    <form method="post">
         <div class="govuk-form-group" id="search-options">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="account-number">
     Enter a postcode
    </label>
  </h1>
  <div id="account-number-hint" class="govuk-hint">
    For example SW1A 2AA
  </div>
   <input class="govuk-input govuk-input--width-10" id="Postcode" name="Postcode" type="text" spellcheck="false"  inputmode="numeric" value="@Model.Postcode" data-testid="postcode-value">
 </div>
 <br><br>
   <button type="submit" class="govuk-button" data-testid="button-search">
        Search
      </button>
    </form>
   
</div>
          </div>
           
</div>
</main>

