@using FamilyHubs.ReferralUi.Ui.Models.Links

<header class="govuk-header app-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container">
        <div class="govuk-width-container">
            <div class="govuk-header__logo">
                <a href="https://www.gov.uk/government/organisations/department-for-education" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <img src="~/lib/govuk/assets/images/crest.png" alt="Department for Education homepage" class="govuk-header__logotype-crown-fallback-image">
                        <span class="govuk-header__logotype-text" data-testid="headertitle">
                            Department for Education
                        </span>
                    </span>
                </a>
                <span class="govuk-header__logotype-text">|</span>
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__product-name" data-testid="headersubtitle">
                        Connect families to support
                    </span>
                </a>
            </div>
            <div class="govuk-header__content">
            </div>
        </div>
    </div>
</header>
	