js-enabled .panel-component__content {
    background-color: #f3f2f1;
    overflow: hidden;
}

.filters-component {
    background-color: #f3f2f1;
    padding: 15px;
}

.filters-component__heading {
    padding-bottom: 10px;
    position: relative;
}

.filters-component__heading .govuk-heading-m {
    margin-bottom: 10px;
}

.filters-component__groups {
    padding: 5px 0;
}

.filters-component__groups .govuk-form-group {
    margin-bottom: 10px;
}

.filters-component__groups__group {
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 25px;
}

.searchable-collection-component--scrollable .govuk-form-group {
    margin-left: -10px;
    max-height: 400px;
    overflow-y: auto;
    padding-left: 10px;
}

.searchable-collection-component .govuk-form-group {
    margin-bottom: 0;
}
