@page
@model FamilyHubs.Referral.Web.Pages.Account.Signed_Out.IndexModel
@{
    ViewData["Title"] = "Signed out";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You have signed out</h1>
        
        @*        this page might not even be required, as we might redirect the user to an existing page when they sign out
        if we do keep this page, obviously we'll need some content here and possibly a link*@

    </div>
</div>