@page
@model FamilyHubs.Referral.Web.Pages.Shared.HeaderPageModel
@{
    ViewData["Title"] = "Contact us";
}

@section Back {
    <a class="govuk-back-link fh-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-2">Contact us</h1>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Email</h2>
        <ul class="govuk-list">
            @* todo: from config*@
            <li><a class="govuk-link" href="mailto:connect-family-support.service@education.gov.uk">connect-family-support.service@education.gov.uk</a></li>
            <li>We aim to respond within 5 working days.</li>
        </ul>
    </div>
</div>