@page
@model FamilyHubs.Referral.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Connect families to support";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" data-testid="heading">
            Connect families to support
        </h1>

        <p>Connect children, young people, parents and carers with support services in their local area.</p>
        <p>Professionals working with families and young people can search for activities, groups and services run by voluntary and community organisations. They can also make a request for an organisation to engage with an individual or family to offer support.</p>
        <p>Voluntary and community professionals can sign in to view and respond to requests sent to their organisation. They can also search for services.</p>

        <div class="govuk-inset-text">   
            This service uses GOV.UK One Login which is managed by the Government Digital Service. You will be asked to sign in or create a GOV.UK One Login.
        </div>

        <a asp-page="/pro-redirect/index" class="govuk-button govuk-button--start" data-testid="button-start">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>
    </div>
</div>

