@page
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.ConfirmationModel
@{
    ViewData["Title"] = "Connection request sent";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Connection request sent
            </h1>
            <div class="govuk-panel__body">
                Request number<br><strong>@Model.RequestNumber.ToString("X6")</strong>
            </div>
        </div>

        <p>Your request has been sent to the service. You can <a href="@Html.FamilyHubConfigUrl(UrlKeys.DashboardWeb, $"la/requestdetails?id={Model.RequestNumber}")" new-tab>view the details of the request</a>.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p>The service will review your request. They may contact you for more details.</p>
        <p>You will be notified by email when they accept or decline the request.</p>
    </div>
</div>