@page
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.ConsentShutterModel
@{
    ViewData["Title"] = "Cannot connect family to service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Cannot connect family to service
        </h1>
        <p>You must have permission from the family to give their details to the service.</p>
        <p>Those details include:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>who to contact in the family</li>
            <li>ways to contact the family</li>
            <li>why the family needs help </li>
        </ul>
        <p>You can come back and connect the family to the service when you have permission.</p>
    </div>
</div>
