@page
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.ConsentModel
@{
    ViewData["Title"] = "Permission to share details";

    Model.Errors.ErrorIdToHtmlElementId = errorId => "consent-yes";
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<partial name="_RadiosPage" Model="@Model" />
