<h1 class="govuk-heading-l">
    Permission to share details
</h1>

<p>You must get permission from the people who need support to share their details.</p>
<p>Those details include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>who to contact</li>
    <li>ways to contact them</li>
    <li>why they need help</li>
</ul>
