@page
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.ContactDetailsModel
@{
    ViewData["Title"] = Model.Legend;
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<partial name="_CheckboxesPage" model="@Model" />