@page
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.ContactDetailsModel
@{
    ViewData["Title"] = $"How can the service contact {Model.FullName}?";
}

@section Back {
    @*todo:service id & name required*@
    <a asp-page="/ProfessionalReferral/WhySupport" asp-route-serviceId="@Model.ServiceId" asp-route-serviceName="@Model.ServiceName" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.ValidationValid == false)
        {
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#contact-methods" data-testid="summary-error">Select a contact method</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-fieldset__heading">
                            @*todo: do we have to worry about injection?*@
                            How can the service contact @Model.FullName?
                        </span>
                    </legend>
                    <div class="govuk-form-group @(Model.ValidationValid == false ? "govuk-form-group--error" : "")">
                        <div id="waste-hint" class="govuk-hint">
                            Select all that apply.
                        </div>
                        @if (Model.ValidationValid == false)
                        {
                            <p class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Select a contact method
                            </p>
                        }
                        <div id="contact-methods" class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="Email"  name="Email" type="checkbox" value="Email">
                                <label class="govuk-label govuk-checkboxes__label" for="Email">
                                    Email
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="Telephone"  name="Telephone" type="checkbox" value="Telephone">
                                <label class="govuk-label govuk-checkboxes__label" for="Telephone">
                                    Telephone
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="Textphone" name="Textphone" type="checkbox" value="Textphone">
                                <label class="govuk-label govuk-checkboxes__label" for="Textphone">
                                    Text message
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="Letter" name="Letter" type="checkbox" value="Letter">
                                <label class="govuk-label govuk-checkboxes__label" for="Letter">
                                    Letter
                                </label>
                            </div>

                        </div>
                    </div>
                    
                </fieldset> 
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
