@page
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.EmailModel
@{
    ViewData["Title"] = Model.HeadingText;
}

@section Back {
    @*todo: use standard BackUrl pattern for consistency? can the back section be moved into the partial?*@
    <a asp-page="/ProfessionalReferral/ContactDetails" asp-route-serviceId="@Model.ServiceId" asp-route-serviceName="@Model.ServiceName" class="govuk-back-link">Back</a>
}

<partial name="_SingleTextboxPage" for="@Model" />
