@page
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.EmailModel
@{
    ViewData["Title"] = @Model.PartialTextBoxViewModel.HeadingText;
}

@section Back {
    <a asp-page="/ProfessionalReferral/ContactDetails" asp-route-serviceId="@Model.ServiceId" asp-route-serviceName="@Model.ServiceName" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <!-- This control is only ment to be used as a single partial on a page, not to be used in a for loop -->
            <partial name="../Shared/_TextBoxDetail" for="PartialTextBoxViewModel">
        </form>
    </div>
</div>
