@page
@model FamilyHubs.Referral.Web.Pages.Shared.HeaderPageModel
@{
    ViewData["Title"] = "Privacy statement";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Privacy statement</h1>
        <p>This service is called ‘Manage connection requests’. It’s provided by the Department for Education (DfE).</p>
        <p>DfE is joint data controller with various local authorities for data collected within this service. The local authority that each request is associated with shares data controller responsibility for that request with DfE.</p>
        <p>A data controller determines how and why personal data is processed. For more information, read the <a href="https://ico.org.uk/ESDWebPages/Entry/Z1001723">Department for Education’s entry in the Data Protection Public Register</a>.</p>
        <h2>What data we collect</h2>
        <p>The personal data we collect from you is:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>your name </li>
            <li>your email address</li>
            <li>your phone number</li>
            <li>your address </li>
            <li>information about your specific needs – which may include health data, gender, ethnicity and sexual orientation</li>
        </ul>
        <h2 class="govuk-heading-m">Why we collect this data </h2>
        <p>We collect personal data to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>with your permission, allow voluntary and community sector services to contact you</li>
            <li>with your permission, allow voluntary and community sector services to assess if they can meet your need</li>
        </ul>
        <h2 class="govuk-heading-m">How long we keep this data</h2>
        <p>We keep your personal data for up to 7 years, as required by law.</p>
        <h2 class="govuk-heading-m">Who we share this data with</h2>
        <p>As joint data controllers, DfE and the local authority which your request is associated with share data.</p>
        <p>The professional who is requesting the contact on your behalf will continue to have access to your data. They will receive a reply from the voluntary and community sector service which will say whether they will contact you.</p>
        <p>We also share if you give us permission to do so, your personal data with the voluntary and community sector organisation that you’re requesting contact from, so they can assess if they can meet your needs and contact you.</p>
        <p>If they agree to contact you, they will continue to have access to your data. They become responsible for your data once they transfer it to their own systems. If they decline to contact you, they will no longer have access to your data.</p>
        <p>We will not:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>sell or rent your data to third parties</li>
            <li>share your data with third parties for marketing purposes</li>
        </ul>
        <p>We will only share your personal data with other organisations if we are required to do so by law – for example, by court order, or to prevent fraud or other crime.</p>
        <h2 class="govuk-heading-m">Where this data is processed and stored</h2>
        <p>We design, build and run our systems to make sure that data is as safe as possible at any stage, both while it’s processed and when it’s stored.</p>
        <p>Your personal data is stored on our IT infrastructure and shared with our data processors, so it may be transferred and stored securely outside the United Kingdom. Where that’s the case it will be subject to equivalent legal protection through the use of International Data Transfer Agreements or <a href="https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection/adequacy-decisions_en">Adequacy Decisions</a>.</p>
        <h2 class="govuk-heading-m">How we protect this data and keep it secure</h2>
        <p>We are committed to keeping your data secure. We have procedures in place to secure your data and prevent unauthorised access or disclosure. For example, we protect data using varying levels of encryption.</p>
        <h2 class="govuk-heading-m">Personal data rights</h2>
        <p>You have the right to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>request that we remove your personal data from the system</li>
            <li>request a copy of your personal data - this will be provided in a structured, commonly used and machine-readable format</li>
        </ul>
        <p><a href="https://ico.org.uk/for-the-public/">Find out more about your personal data rights</a>.</p>
        <h2 class="govuk-heading-m">Questions and complaints</h2>
        <p>You can read about <a href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter"> how the DfE handles personal information in the personal information charter</a>.</p>
        <p>You can contact us by using our <a href="https://form.education.gov.uk/service/Contact_the_Department_for_EducationDfE"> secure contact form</a> if you:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>have any questions about anything on this page</li>
            <li>think that your personal data has been misused or mishandled</li>
            <li>want to <a href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter#how-to-make-a-subject-access-requestmake"> make a subject access request (SAR)</a></li>
        </ul>
        <p>You can also write to the Data Protection Officer, who provides independent advice and monitoring of DfE’s use of personal information:</p>
        <div class="govuk-inset-text">
            <p>
                Emma Wharram, Data Protection Officer
                <br>Department for Education (B2.28)
                <br>7 and 8 Wellington Place
                <br>Leeds
                <br>LS1 4AW
            </p>
        </div>
        <p>If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is an independent regulator:</p>
        <div class="govuk-inset-text">
            <p>
                Information Commissioner’s Office
                <br>Wycliffe House
                <br>Water Lane
                <br>Wilmslow
                <br>Cheshire
                <br>SK9 5AF
            </p><p>
                Telephone: 0303 123 1113
                <br>Email: <a href="mailto:icocasework@ico.org.uk">icocasework@ico.org.uk</a>
            </p>
        </div>
        <p>Complaints to the Information Commissioner are without prejudice to your right to seek redress through the courts.</p>
        <h2 class="govuk-heading-m">Changes to this notice</h2>
        <p>This notice was last updated on 8 June 2023. It will be reviewed on 8 June 2024.</p>
        <p>We may change this privacy notice before its review date. When we make changes, we will add a change note at the bottom of the page. Any changes to this privacy notice will apply to you and your data immediately. If these changes affect how your personal data is processed, DfE will take reasonable steps to make sure you know.</p>
        <h2 class="govuk-heading-m">Our legal basis for processing your data</h2>
        <p>The legal basis for processing your data is public task, article 6(1)(e) of the UK General Data Protection Regulation (UK GDPR).</p>
        <p>The legal basis for processing special category data is substantial public interest, article 9(2)(g) of the UK General Data Protection Regulation (UK GDPR).</p>
    </div>
</div>