@page
@model FamilyHubs.Referral.Web.Pages.Shared.ProfessionalReferralNoSessionModel
@{
    ViewData["Title"] = "Safeguarding";
}

@section Back {
    <a href="/ProfessionalReferral/LocalOfferDetail/?serviceId=@Model.ServiceId" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="interrupt-panel">
            <h1 class="govuk-heading-l">
                Do not use this service to report safeguarding concerns
            </h1>
            <p>Use the <a href="https://nhssafeguarding.app/?nocache=0.23461449202295054" id="nhs-safeguarding" class="govuk-link--inverse">NHS safeguarding app</a> for guidance on reporting safeguarding concerns.</p>
            <a asp-page="/ProfessionalReferral/Consent" class="govuk-button app-button--inverted" data-module="govuk-button"
               asp-route-serviceId="@Model.ServiceId" asp-route-serviceName="@Model.ServiceName">
                Continue
            </a>
        </div>
    </div>
</div>
