<h1 class="govuk-heading-l">
    Share our privacy statement
</h1>
<p>You must <a href="/ProfessionalReferral/PrivacyStatement" new-tab>share our privacy statement</a> with the people who need support.</p>
<p>The privacy statement tells them more about:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>what data we collect about them and why we need it</li>
    <li>who is responsible for data within the service</li>
    <li>how we protect, process and store their data</li>
    <li>how long we keep their data</li>
    <li>their personal data rights</li>
</ul>
