@page
@{
    ViewData["Title"] = "Cannot connect family to service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Cannot connect family to service
        </h1>
        <p>Please share our privacy statement with the family to make a request using their data.</p>
        <p>You can come back and request a connection to the service once you have shared the privacy statement.</p>
    </div>
</div>