@page
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.SharePrivacyModel
@{
    ViewData["Title"] = "Share our privacy statement";
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<partial name="_RadiosPage" Model="@Model" />
