@page
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.SupportDetailsModel
@{
    ViewData["Title"] = "Who should the service contact in the family?";
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <input asp-for="@Model.BackUrl" type="hidden">
            @await Html.PartialAsync("../Shared/_TextBoxDetail", Model.PartialTextBoxViewModel) 
        </form>
    </div>
</div>
