@page
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.SupportDetailsModel
@{
    ViewData["Title"] = "Who should the service contact in the family?";
}

@section Back {
    <a asp-page="/ProfessionalReferral/Consent" asp-route-serviceId="@Model.ServiceId" asp-route-serviceName="@Model.ServiceName" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <partial name="_TextBoxDetail" for="@Model.PartialTextBoxViewModel" />
        </form>
    </div>
</div>
