@page
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.TextModel
@{
    ViewData["Title"] = Model.HeadingText;
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<partial name="_SingleTextboxPage" for="@Model" />