@page
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.WhySupportModel
@{
    //todo: get h1 from model
    ViewData["Title"] = "Reason for the connection request";
}

@section Back {
    <a asp-page="/ProfessionalReferral/SupportDetails" asp-route-serviceId="@Model.ServiceId" class="govuk-back-link">Back</a>
}

<partial name="/Pages/Shared/_TellTheServicePage.cshtml" model="Model"/>
