<h1 class="govuk-heading-l">Why are you requesting a connection?</h1>

<p>Use this to give the service details about the people who need support, for example:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>why they need help</li>
    <li>other organisations currently working with them</li>
    <li>if anyone has mental health conditions or special educational needs or disabilities</li>
    <li>important things to note such as domestic abuse or difficulty paying for food or bills</li>
</ul>
<p>Please give enough information for the service to review this request. The service may need to contact you for more information or to do their own assessment.</p>
<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You should only share the name of the contact who has given permission. Do not share the names or details of other people.
    </strong>
</div>