<h1 class="govuk-heading-l">Reason for the connection request</h1>

<p>Use this to give the service details about the family, for example:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>why the family needs help</li>
    <li>other organisations currently working with the family</li>
    <li>if any family members have mental health conditions or special educational needs or disabilities</li>
    <li>important things to note such as domestic abuse</li>
</ul>