@page
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.WhySupportModel
@{
    ViewData["Title"] = "Reason for the connection request";
}

@section Back {
    <a asp-page="/ProfessionalReferral/SupportDetails" asp-route-serviceId="@Model.ServiceId" asp-route-serviceName="@Model.ServiceName" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.ValidationValid == false)
        {
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#TextAreaValue" data-testid="summary-error">Enter details about the family</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }

    <h1 class="govuk-heading-l">Reason for the connection request</h1>
    <form method="post">
        

            <div class="govuk-form-group">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                    <p>Use this to give the service details about the family, for example:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>why the family needs help</li>
                        <li>other organisations currently working with the family</li>
                        <li>if any family members have mental health conditions or special educational needs or disabilities</li>
                        <li>important things to note such as domestic abuse</li>
                    </ul>

                    <div class="govuk-character-count @(Model.ValidationValid == false ? "govuk-form-group--error" : "")" data-module="govuk-character-count" data-maxlength="500">
                        <div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--m" for="with-hint">
                                    What do you want to tell the service?
                                </label>
                            </h1>

                            @{
                                if (Model.ValidationValid == false)
                                {
                                    <p class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> Enter details about the family
                                    </p>
                                }
                            }

                            <textarea asp-for="TextAreaValue" class="govuk-textarea govuk-js-character-count" rows="10" id="with-hint"></textarea>
                        </div>

                        <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                            You can enter up to 500 characters
                        </div>

                    </div>
                </div>
            </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
    </div>
</div>

