@page

@model Error403Model

@{
    ViewData["Title"] = "Access Denied";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You do not have permission to perform this action</h1>
        <p>If you think you should have access, contact the organisation that set up your permissions.</p>
    </div>
</div>