@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <br />

            <h1 class="govuk-heading-xl" data-testid="heading">
               Connect families to voluntary and community services
            </h1>
            <p class="govuk-body">
                This is for people working with children, young people and families in England.
            </p>
            <p class="govuk-body">
               Use this to find voluntary and community services for families. You can also use this to connect families to services you find.
            </p>
            
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                 Contact the police if you think a child is in danger or is being harmed. Do not use this service. 
              </strong>
            </div>
            <p>To connect a family to a service, you will need:</p>
			<ul class="govuk-list govuk-list--bullet" data-testid="list-id">
               <li>the family's contact details</li>
               <li>details about why the family needs help</li>
               <li>consent from the family for you to give their details to the service</li>
            </ul>
			<br />
			<br />

            <a asp-page="/ProfessionalReferral/SignIn" class="govuk-button govuk-button--start" data-module="govuk-button" data-testid="button-start">Start now ></a>
            
        </div>
    </div>
</main>

