@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <br />

            <h1 class="govuk-heading-l">
                Request local help and support for children, young people and families
            </h1>
            <p class="govuk-body">
                This is for professionals working with children, young people and families in England.
            </p>
            <p class="govuk-body">
                Find and request support from local organisations, community groups and charities.
            </p>
            
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Do not use this service if you believe the child is being harmed or is in immediate danger. Call the police on 999 instead.
              </strong>
            </div>

			<div class="govuk-details__text">
                You need consent to request support. If the person is under 19, you need consent from a parent or carer. 
            </div>

			<br />
			<br />

            <a asp-page="/ProfessionalReferral/PersonRequestingSupport" class="govuk-button" data-module="govuk-button">Start now ></a>
            
        </div>
    </div>
</main>

