.govuk-pagination__link {
    background: transparent;
    border: 0;
    @include govuk-font($size: 16);
    line-height: 1.31579;
    padding: 0;
    cursor: pointer;

}

.govuk-pagination__item--current .govuk-pagination__link {
    color: #ffffff;
}

.govuk-link {
    color: #1d70b8;
}