@media not print {
    .js-enabled .app-results-filter--desktop {
        @include govuk-media-query($until: tablet) {
            display: none;
        }
    }

    .app-results-filter--non-desktop {
        display: none;
    }

    .js-enabled .app-results-filter--non-desktop {
        @include govuk-media-query($until: tablet) {
            display: block;
        }
    }

    .app-results-filter {
        padding: govuk-spacing(3);
        background-color: govuk-colour("light-grey");

        label:before {
            background-color: govuk-colour("white");
        }
    }

    .js-enabled .app-results-filter {
        @include govuk-media-query($until: tablet) {
            display: none;

            &.app-results-filter-overlay {
                display: block;
                position: fixed;
                z-index: 1000;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: 0;
                overflow-y: auto;
            }
        }
    }

    .app-results-filter-overlay--heading {
        display: grid;
    }

    .app-results-filter-overlay--heading-left {
        grid-column: 1;
    }

    .app-results-filter-overlay--heading-right {
        grid-column: 2;
        text-align: right;
    }

    .app-results-filter-overlay--visible {
        display: none;
    }

    .app-results-filter-overlay {
        .app-results-filter-overlay--not-visible {
            display: none;
        }

        .app-results-filter-overlay--visible {
            display: block;
        }
    }
}

.js-enabled .app-results-filter--apply-filters {
    display: none;
}
js-enabled .panel-component__content {
    background-color: #f3f2f1;
    overflow: hidden;
}

.app-form-group-inline {
    .govuk-button {
        margin-top: govuk-spacing(3);
    }

    @include govuk-media-query($from: tablet) {
        .govuk-input {
            max-width: 20ex + 3ex;
        }

        .govuk-button {
            display: inline !important;
            margin-top: govuk-spacing(0);
            margin-bottom: govuk-spacing(0);
            margin-left: govuk-spacing(1);
        }

        .app-form-group-inline--full-width {
            display: flex;
            width: 100%;

            .govuk-input {
                flex: 1;
                max-width: none;
            }

            .govuk-button {
                width: 90px;
                height: 38px;
                margin-left: govuk-spacing(2);
            }
        }
    }
}

.filters-component {
    background-color: #f3f2f1;
    padding: 15px;
}

.filters-component__heading {
    padding-bottom: 10px;
    position: relative;
}

.filters-component__heading .govuk-heading-m {
    margin-bottom: 10px;
}

.filters-component__groups {
    padding: 5px 0;
}

.filters-component__groups .govuk-form-group {
    margin-bottom: 10px;
}

.filters-component__groups__group {
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 25px;
}

.searchable-collection-component--scrollable .govuk-form-group {
    margin-left: -10px;
    max-height: 400px;
    overflow-y: auto;
    padding-left: 10px;
}

.searchable-collection-component .govuk-form-group {
    margin-bottom: 0;
}


//Mobile view
.app-results-filter-overlay--show-filters {
    display: none;
}

body.js-enabled {
    @include govuk-media-query($until: tablet) {
        .app-results-filter-overlay--show-filters {
            display: block;
        }

        .filters-component {
            display: none;

            &.app-results-filter-overlay {
                display: block;
                position: fixed;
                z-index: 1000;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: 0;
                overflow-y: auto;
            }
        }

        &.app-results-filter-overlay-active {
            top: 0px;
            position: fixed;
        }
    }
}
